<ion-content class="ion-padding">

  <div class="lyt">
    <div>
      <div class="heading">
        <ion-icon name="person-circle-outline" color="primary"></ion-icon>
        <span class="txt">
          Sign in to your account
        </span>
        <span class="desc">
          Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.
        </span>
      </div>

      <form class="frm-brd-inp">
        <ion-list>

          <ion-item class="inp">
            <ion-label position="floating">
              Username or email address
            </ion-label>
            <ion-input></ion-input>
          </ion-item>

          <ion-item class="inp">
            <ion-label position="floating">
              Password
            </ion-label>
            <ion-input type="{{showPwd?'text':'password'}}"></ion-input>
            <ion-icon name="{{showPwd?'eye-off-outline':'eye-outline'}}" (click)="togglePwd()" class="pwd-eye"
              slot="end"></ion-icon>
          </ion-item>

        </ion-list>

        <ion-grid class="ion-no-padding">
          <ion-row class="ion-align-items-center">
            <ion-col class="remember-me">
              <input type="checkbox" class="chk-box" />
              <span class="txt"> Remember me</span>
            </ion-col>
            <ion-col size="auto">
              <ion-button fill="clear" size="small" class="ion-no-margin ion-no-padding ion-text-capitalize"
                (click)="forgotPwd()">
                Forgot Password
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-button expand="block" class="sign-in-btn ion-text-capitalize" (click)="signIn()">
          Sign In
          <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        </ion-button>

        <div class="navs">
          <span class="lbl">Don't have account? </span>
          <span class="link" (click)="gotoSignup()">Sign up</span>
        </div>

        <div class="navs">
          <span class="lbl">Skip sign in? </span>
          <span class="link" (click)="gotoHome()">Go to home</span>
        </div>

      </form>
    </div>
  </div>

</ion-content>