<ion-content class="ion-padding">

  <div class="lyt">
    <div>
      <div class="heading">
        <ion-icon name="lock-closed-outline" color="primary"></ion-icon>
        <span class="txt">
          Forgot Password
        </span>
        <span class="desc">
          Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.
        </span>
      </div>

      <form class="frm-brd-inp">
        <ion-list>

          <ion-item class="inp">
            <ion-label position="floating">
              Email Address
            </ion-label>
            <ion-input type="email"></ion-input>
          </ion-item>

          
        </ion-list>

        <div class="btn-blk">
          <ion-button expand="block" class="reset-btn ion-text-capitalize">
            Reset Password
            <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
          </ion-button>
  
          <ion-button expand="block" class="skip-btn ion-text-capitalize" (click)="gotoSignIn()">
            Return to Sign In            
          </ion-button>
        </div>

        <div class="navs">
          <span class="lbl">Don't have account? </span>
          <span class="link" (click)="gotoSignup()">Sign up</span>
        </div>

        <div class="navs">
          <span class="lbl">Skip sign in? </span>
          <span class="link" (click)="gotoHome()">Go to home</span>
        </div>

      </form>
    </div>
  </div>

</ion-content>