<ion-content class="ion-padding">

  <div class="lyt">
    <div>
      <div class="heading">
        <ion-icon name="checkmark-done-circle-outline" color="primary"></ion-icon>
        <span class="txt">
          Email Verification
        </span>
        <span class="desc">
          Please enter 6 digit verification code sent <span class="email">test@gmail.com</span> to confirm your email address.
        </span>
      </div>

      <form class="frm-brd-inp">
        <ion-list>

          <ion-item class="inp">
            <ion-label position="floating">
              Verification Code
            </ion-label>
            <ion-input type="number"></ion-input>
          </ion-item>

          
        </ion-list>

        <ion-button expand="block" class="verify-btn ion-text-capitalize">
          Verify My Account
          <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
        </ion-button>
        
        <div class="navs">
          <span class="lbl">Did not received? </span>
          <span class="link">Resend Code</span>
        </div>
        
      </form>
    </div>
  </div>

</ion-content>