<ion-content>
  <ion-grid class="h-100">
    <ion-row class="ion-align-items-center h-100">
      <ion-col class="ion-text-center">
        <div class="icn">
          <div class="inner">
            <div class="logo">
              <ion-icon name="megaphone-outline" color="light"></ion-icon>
            </div>
            <div class="txt">
              Welcome to Ads.
            </div>
            <div>
              <ion-progress-bar type="indeterminate"></ion-progress-bar>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>